/** {*/
/*	border: 1px solid black;*/
/*}*/
body {
	background: rgba(6, 21, 33, 0.85);
	font-family: sans-serif;
}

.about_park {
	position: absolute;
	width: 300px;
	height: 400px;
	top: 50%;
	left: 200px;
	transform: translate(-50%, -50%);
}

.about_village {
	position: absolute;
	width: 300px;
	height: 400px;
	top: 50%;
	left: 550px;
	transform: translate(-50%, -50%);
}

.card {
	position: absolute;
	height: 100%;
	width: 100%;
	background: antiquewhite;
	box-shadow:
			4px 4px 4px 0 rgba(0, 0, 0, 0.1),
			8px 8px 0 0 rgba(250, 235, 215, 0.7),
			12px 12px 4px 0 rgba(0, 0, 0, 0.1),
			-1px -1px 4px 0 rgba(250, 235, 215, 0.1);
}

.card > p {
	position: absolute;
	margin: 16px;
	line-height: 24px;
	top: 60%;
}

.container {
	position: absolute;
	width: 100%;
	height: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card .face {
	position: absolute;
	height: 100%;
	width: 100%;
}

.card .top_face {
	background: #7a7a7a;
	overflow: hidden;
}

.card .container .top_face img {
	height: 100%;
	width: 100%;
}

.card .bottom_face {
	background: rgb(107, 139, 175, 0);
	opacity: 0;
	transform:
			rotateY(180deg)
			scale(0.5);
	transition-timing-function: cubic-bezier(0, 0, 0, 1);
	transition: background 1s, transform 0.75s, opacity 0.5s;
}

.card .bottom_face p {
	/*border: 1px solid blue;*/
	color: white;
	margin: 16px;
	font-size: 24px;
	line-height: 150%;
}

.card .bottom_face .links {
	/*border: 1px solid red;*/
	position: relative;
	top: 15%;
	height: 30%;
}

.card .bottom_face .links .menu {
	/*border: 1px solid black;*/
	position: relative;
	height: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'themify', serif;
	font-size: 24px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card .bottom_face .links .menu li {
	border: 1px solid #fff;
	position: relative;
	height: 60%;
	width: 15%;
	margin: 5%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: ease 0.25s;
}

.card .bottom_face .links a {
	/*border: 1px solid blue;*/
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

.card .bottom_face .links li:hover {
	color: black;
	background: white;
}

.card .bottom_face .links .menu .website:before {
	box-sizing: border-box;
	content: "\e743";
}

.card .bottom_face .links .menu .facebook:before {
	content: "\e741";
}

.card .bottom_face .links .menu .instagram:before {
	content: "\e73d";
}

.card:hover .bottom_face {
	background: rgb(107, 139, 175, 0.7);
	opacity: 1;
	transform:
			rotateY(0deg)
			scale(1);
}