/*============================================================*/
/*============================================================*/
/*             ===== Author: Aleksey Nikolaev ======          */
/*============================================================*/
/*============================================================*/

*, ::after, ::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-family: "Atkinson Hyperlegible Regular", Arial, Helvetica, sans-serif;
	font-size: 3rem;
	background: rgba(6, 21, 33, 0.85);
}

body {
	padding: 0;
	margin: 0;
	opacity: 0;
	transition: opacity 1s ease-in;
	transition-delay: 0.25s;
}

#container {
	position: absolute;
	background-color: #ffffff;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90vw;
	max-width: 600px;
	padding: 40px 24px;
	border-radius: 8px;
	line-height: 6rem;
	color: #051a32;
	text-align: center;
	box-shadow: 0 20px 50px rgba(5, 26, 50, 0.18);
}

#container span {
	color: #4B5969;
}