h2 {
    color: rgba(85, 142, 192, 0.77);
}

body > p {
    color: blueviolet;
    font-size: 2rem;
}

div {
    border: solid black 1px;
    height: 100px;
    width: 100px;
    margin-top: 10px;
}

.redBlock {
    background-color: red;
}

.blueBlock {
    background-color: blue;
}

.redBlock p {
    color: blue;
}

.blueBlock p {
    color: red;
}

li .redLink {
    font-size: 24px;
}

li.redLink {
    color: red;
}